*{
    
    box-sizing: border-box;
    
}


body{
    
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
    background-color: hsl(218, 28%, 13%);
    margin: 0;
    
}


header{
    
    background-color: hsl(217, 28%, 15%);
    position: relative;
    
}


.nav {
   display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px;
}


nav ul{
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    margin-top: 0;
    
}


nav ul a {
    
    margin-right: 50px;
    
}

 

h1, h2, h3, button, nav li a {
    
    font-family: 'Raleway';
}


h1{ 
    font-size: 2.3rem;
}


.hero-img{
    
    width: 60%;
    
}


.hero {
    width: 80%;
    margin: 80px auto 20px auto;
    text-align: center;
    position: relative;
    z-index: 2;
    
    
}


.hero2{
    width: 60%;
    text-align: center;
    font-size: 18px;
    margin: 0 auto 100px auto;
    padding: 0 50px 20px 50px;
    position: relative;
    z-index: 2;
}


.hero2 h1, .hero2 p {
    
    line-height: 1.5em;
}


.hero2 p{
    
    width: 80%;
    margin: auto;
}


.hero2 .blue-button{
    
    margin-top: 20px;
    padding: 15px 60px;
    font-size: 16px;
}


 .blue-button{
    border-radius: 30px;
    padding: 10px 15px;
    font-weight: 700;
    border: 0;
    background-image: linear-gradient(to bottom right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white;
    
} 


.blue-button:hover{
    
    background: white;
    color: hsl(198, 60%, 50%);
    border: 2px solid hsl(198, 60%, 50%);
}


.divider1{
    display: none;
}



.divider{  

  display: block;
  position: absolute;
  bottom: -1px;
  height: 35%;
  width: 100%;
}


.blurbs{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 100px auto;
    text-align: center; 

}


.blurb{
    
    padding: 40px;
    width: 80%;
}


.productive{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 50px;
    align-items: center;
}


.productive div{
    
    padding: 30px;
    
}


.productive img{
    width: 100%;
}



.productive-text{
    
    width: 80%;
    margin: auto;
    font-size: 15px;
    
}

.productive-text a{
    border-bottom: 1px solid hsl(176, 68%, 64%);
    color: hsl(176, 68%, 64%);
    padding-bottom: 2px;
    
}
 
.productive-text .link-icon{
   width: 4%;
   position: relative;
   top: 4px;
  
}

.testimonials{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    margin: 100px auto;
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
}


.testimonial-card img{
    width: 15%;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
   
}

.testimonial-card{
    background-color: hsl(219, 30%, 18%);
    padding: 20px;
    margin: 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px hsl(219, 30%, 20%);
    position: relative;
}

span.profile{
    float:left;
    
}


.footer-card{
    width: 60%;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px hsl(219, 30%, 10%), 0px 16px 20px 0px hsl(219, 30%, 10%);
    border-radius: 10px;
    position: relative;
    top: 120px;
    background-color: hsl(218, 28%, 13%);
    
}

.footer-card form{
    
    margin-top: 30px;
}

.footer-card input{
    width: 50%;
    height: 2.5em;
    border-radius: 30px;
    border: 0;
    padding: 20px;
    
}

 input::placeholder{
    color: lightgray;
}

.footer-card .blue-button{
    padding: 12px 20px;
    margin-left: 20px;
}

footer, .footer{
    background-color: hsl(216, 53%, 9%);}

.footer{
    
    display: grid;
    grid-template-columns: 30% 20% 10% 10% 20%;
    padding: 150px 50px;
    justify-content: space-around;
    align-items: baseline; 
    
}

.footer .footer-icon{
    width: 15px;
    margin-right: 10px
}

.footer div{
    
    margin: 10px;
}


.last .logo{
    position: relative;
    top: 150px;
    left: 50px;
}


a {
    
    text-decoration: none;
    color: white;
}
  

.fab{
    margin: 10px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.fa-facebook-f{
    
    height: 23px;
    
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


